

#buy .top-bg {
    height: 75vh;
    background: rgba(9, 122, 224, 0.3);
}
#buy .top-bg h1 {
    font-weight: 700;
    font-size: 24px;
    color: #F1851A;
    margin-top: 3.3rem;
}
#buy .bottom-bg {
    height: 123vh;
    border-top-left-radius: 57px;
    border-top-right-radius: 57px;
    background: #F3F3F1;;
    position: relative;
    top: -45px;
}

#buy .instructions{
    font-size: .7rem;
    color: rgba(255, 218, 175, 1);
}
#buy .disclaimer {
    color: crimson;
    font-size: .8rem;
}

#buy .instructions h5,
#buy .disclaimer h5 {
    font-size: .7rem;
}

#buy .instructions h1,
#buy .disclaimer h1 {
    font-size: 1.1rem;
}

#buy .profile-con {
    width: 90%;
    position: absolute;
    top: -43%;
    height: auto;
    left: 20px;
    background: rgba(9, 122, 224, 0.71);    
    border-radius: 31px;
}

#buy .phone-details {
    width: 90%;
    height: auto;
    background: #fff;
    border-radius: 31px;
    
}
#buy .make-claim {
    width: 90%;
    height: auto;
    background: rgba(255, 218, 175, 0.33);
    border-radius: 31px;
    /* margin-top: 1rem; */
}
#buy .phone-details h3 {
    color: #097AE0;
    font-weight: 800;
    font-size: 15px;
}
#buy .phone-details h1 {
    font-weight: 400;
    font-size: 38px;
    line-height: 43px;
    color: rgba(241, 133, 26, 0.81);
}

#buy .make-claim a {
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    color: rgba(241, 133, 26, 0.81);
}
#buy .make-claim input {
    margin-right: 10px;
    height: 20px;
    width: 20px;
}
#buy .make-claim label {
   font-size: 13px;
   color: #F1851A;
}
#buy .profile-con .det {
    margin-bottom: 14px;
}

#buy .profile-con .det span {
    color: rgba(255, 218, 175, 0.993);
    font-size: 16px;
    font-weight: 700;
}
#buy .profile-con .det h2 {
    font-size: 17px;
    color: #FFFFFF;
    font-weight: 600;
    line-height: .7;
}
::placeholder {
    color: rgba(0, 0, 0, .5);
}
#buy .profile-con label {
    font-weight: 700;
    font-size: 15px;
    color: #FFFFFF;
    }

#buy .profile-con input,
#buy .profile-con select {
    height: 35px;
}
#buy .profile-con input,
#buy .profile-con textarea,
#buy .profile-con select {
    border-radius: 30px;
    width: 100%;
    border-color:white ;
    padding: 10px 15px;
    margin-bottom: 14px;
}
.input-div {
    background: white;
    border-radius: 30px;
    padding: 0;
}
#buy .profile-con input:focus,
#buy .profile-con textarea:focus {
   outline: white;
}