

.dashboard {
    width: 100%;
    background: #F3F3F169;
    height: 100vh;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.dash-logo {
    height: 9%;
    width:100%;
    border: 1px solid blu;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 2.4rem;
    color: rgba(0, 0, 0, .7);
    font-weight: 600;

}
.dash-logo img:nth-child(1) {
    width:30%;
    height: 50%;
    object-fit: contain;
    margin-right: 1rem;

}
.dash-logo img:nth-child(2) {
    width: 40%;
    height:80%;
    /* object-fit: contain; */
}
.dash-text{
    color: rgba(0, 0, 0, .8);
    height: 16%;
    border: 1px solid blac;
}
.dash-text h1 {
    font-weight: 700;
    line-height: 1;
    font-size: 1.9rem;
    color:#097AE0;
}
.dash-text p {
    font-weight: 600;
    color: rgba(0, 0, 0, .4); 
    line-height: .5;
    color: rgba(9, 122, 224, 0.3);
}
.dash-text-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #097AE0;
    padding: 7px;
}
.dash-text-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.dash-box{
    height: 75%;
    border: 1px solid blac;
}
.dash {
    width: 100%;
    height: 40%;
    border-radius: 30px;
    margin: 0px 0 11px;
    position: relative;
    padding: 10px 20px ;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.dash h3 {
    font-weight: 700;
    font-size: 1.1rem;
    line-height: .9;
}
.dash_pro {
    background: #097AE0;
    color: white;
    justify-content: flex-start;
    padding-top: 20px;
}
.dash_pro .pp {
   margin-bottom: 1rem;
   width: 50px;
}
.dash_pro .pp-icon {
    position: absolute;
    top: 19px ;
    right: 19px;
    width: 30px;

}

.dash_claim {
    background: rgba(241, 133, 26, 0.81);
    color: white;
}

.dash_buy {
    background: rgba(9, 122, 224, 0.3);
    align-items: flex-end;
    color: #097AE0;
    font-size: .8rem;
    justify-content: flex-start;
    padding-top: 1rem;
}
.dash_buy > img {
    position: absolute;
    top: 15px ;
    left: 15px;
    width: 30px;
}
.dash_learn img {
    position: absolute;
    bottom: 15px ;
    left: 15px;
    width: 30px;
}
.dash_buy .power {
    position: absolute;
    bottom: 1%;
    right: 20%;
    width: 6.1rem;
    height: 3.8rem;
    /* border: 1px solid black; */
    display: flex;
    flex-direction:column;

}
.dash_buy .power img {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: -10px;

}
.dash_buy .power span {
   font-size:.6rem;
   color: rgb(77, 73, 73);

}

.dash_claim .claim-icon  {
    right: 15px;
    bottom: 19px;
    width: 30px;
    position: absolute;
}
.dash_learn {
    background: rgba(255, 218, 175, 0.33);
    color: #FA8701;
    align-items: flex-end;
}

.dash_faq, 
.dash_days {
    width: 143px;
    height: 14%;
    border-radius: 30px;
}
.dash_faq {
    border: 1px solid #097AE0;
}
.dash_faq h1 {
    color: rgba(9, 122, 224, 0.48);
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    margin-right: 10px;
}
.dash_faq img {
    width:40px;
}
.dash_days {
    border: 1px solid rgba(250, 135, 1, 0.74);
    padding: 10px;
}
.dash_days img {
    width: 30px;
    margin-right: 9px;

}
.dash_days h1 {
    width: 60%;
    font-size: .9rem;
    font-weight: 700;
    color: rgba(250, 135, 1, 0.74);
    margin: 0;
}

