/*Home components*/
.home {
    width: 100%;
    height: 100%;
    padding-bottom: 6rem;
}
.home img {
    margin: auto;
    width: 70%;
}
#home {
    overflow: hidden;
    height: 100vh;
}

/*Imei css*/

#imei {
    margin-top: 3rem;
}
#imei h1 {
    font-size: 1.6rem;
}
#imei p {
    font-size: .9rem;
}
#imei input {
    width: 100%;
}