#my-profile .top-bg {
    height: 58vh;
    background: rgba(9, 122, 224, 0.3);
}
#my-profile .top-bg .logout {
    padding: 10px 15px;
    position: absolute;
    outline: none;
    border: none;
    background: rgba(9, 122, 224, 0.91); 
    border-radius: 15px;
    font-weight: 700;
    color: white;
    right: 33px;
    top: 40px;

}
#my-profile .bottom-bg {
    height: 82vh;
    border-top-left-radius: 57px;
    border-top-right-radius: 57px;
    background: #fff;
    position: relative;
    top: -55px;
}
#my-profile .profile-con {
    width: 90%;
    position: absolute;
    height: auto;
    left: 5%;
    margin-left: auto;
    margin-right: auto;
    top: -41%;
    background: rgba(9, 122, 224, 0.71);    
    border-radius: 31px;
}
#my-profile .profile-pix {
    position: relative;
    width: 110px;
    height: 110px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    top: -80px;
    background: #FFFFFF;
    border: 5px solid rgba(250, 135, 1, 0.74);
    border-radius: 50%;
}
.profile-pix img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.phone-details {
    width: 90%;
    height: 150px;
    background: rgba(9, 122, 224, 0.3);
    border-radius: 31px;
    
}
#my-profile .make-claim {
    width: 90%;
    height: 76px;
    background: rgba(255, 218, 175, 0.33);
    border-radius: 31px;
    margin-top: 1.5rem;
}
.profile-con > h2 {
    margin-top: -4.9rem;
    margin-bottom: 1rem;
    font-weight: 800;
    font-size: 22px;
    color: #fff;
}
.profile-details .det {
    margin-bottom: 14px;
}
.profile-details .det span {
    color: #D9D9D9;
    font-size: 14px;
    font-weight: 800;
}
.profile-details .det h2 {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 600;
    line-height: .7;
}

#my-profile .phone-details {
    height: auto;
}
.phone-details > h2 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #097AE0;
    line-height: .8;
}
.phone-details table .key {
    font-weight: 600;
    font-size: 13px;
    color: #939393ea;
}
.phone-details table .value {
    font-weight: 700;
    font-size: 15px;
    color: #097AE0;
}
td.key {
    padding-right: 2rem;
}
tr td {
    padding-bottom: 10px;
}

#my-profile .make-claim a {
    font-weight: 800;
    font-size: 16px;
    line-height: 26px;
    color: rgba(241, 133, 26, 0.81);
}
.link-arrow {
    width: 70px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 15px;
    margin-left: 10px;
}