#started {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 1));
    position: relative;
    color: white;
    padding-bottom: 0px;
    height: 100vh;
}
#started::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('../assets/unsplash_BAanEbxe9No.png') center/cover no-repeat;
    z-index: -1;
}

.con1{
    margin-top: 6rem;
}
.con1 p {
    font-size: 1.2rem;
    line-height: 1.4;
    letter-spacing: 1.1px;
    width: 90%;
}
.con2 {
    margin: 5rem 0 0;
}
.google-link {
    text-decoration: none;
    display: flex;
    border: 1px solid blue;
    color: white;
    width: 100%;
    border-radius: 15px;
    padding: 7px 15px;
    font-size: .9rem;
    font-weight: 400;
    letter-spacing: 1.1px;
    margin-top: 15px;
    text-transform: uppercase;
    transition: .3s ease all;
}
.google-link:hover {
    border: 1px solid rgb(29, 29, 56);
}
.google-logo {
    object-fit: contain;
    width: 25px;
    margin-right: 2.6rem;
}


.con4 {
    font-size: .8rem;
}
.con3 span {
    color:orange ;
    cursor: pointer;
}

