.top-bg {
    height: 50vh;
    background: rgba(9, 122, 224, 0.3);
}
.top-bg h1 {
    font-weight: 700;
    font-size: 24px;
    color: #F1851A;
    margin-top: 3.6rem;
}
#terms .bottom-bg {
    height: 58vh;
    border-top-left-radius: 57px;
    border-top-right-radius: 57px;
    background: #F3F3F1;
    position: relative;
    top: -40px;
}
#terms .profile-con {
    width: 90%;
    position: absolute;
    top: -54%;
    height: auto;
    left: 20px;
    background: rgba(9, 122, 224, 0.71);    
    border-radius: 31px;
}
#terms .profile-con h4 {
    font-size: .9rem;
    font-weight: 700;
}
#terms .make-claim {
    width: 90%;
    height: auto;
    background: rgba(255, 218, 175, 0.33);
    border-radius: 31px;
}
.make-claim input {
    margin-right: 10px;
    height: 17px;
    width: 20px;
}
.make-claim label {
   font-size: 13px;
   color: #F1851A;
}
.make-claim h1 {
    font-weight: 700;
    font-size:19px;
    color: #F1851A;
}
#terms .make-claim button {
    background: white;
    padding: 10px 18px;
    border-radius: 10px;
    color: #F1851A;
    font-weight: 700;
    letter-spacing: 1px;
}

/*terms 2*/
#terms .terms2-bottom-bg {
    height: 83vh;
    border-top-left-radius: 57px;
    border-top-right-radius: 57px;
    background: #F3F3F1;
    position: relative;
    top: -40px;
}
#terms .terms2-bottom-bg .profile-con {
    width: 90%;
    position: absolute;
    top: -38%;
    height: auto;
    left: 20px;
    background: rgba(9, 122, 224, 0.71);    
    border-radius: 31px;
}

